.menubutton {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menubutton li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 10px;
}

.notice {
    text-decoration: none;
}

.notice:hover {
    text-transform: lowercase;
    cursor: help;
}

